.custom-tooltip {
    text-align: center;
    background-color: #3c3c3c;
    visibility: hidden;
    position: absolute;
    top: 100%;
    width: 20vw;
    height: auto;
    max-height: 0;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    overflow: hidden;
}
.custom-tooltip > * {
    width: 100%;
    margin: auto;
}
.custom-tooltip > p {
    height: 45px;
    line-height: 45px;
}
.tooltip-visible {
    visibility: visible;
    max-height: 122px;
}
.navbar {
    opacity: 0;
    transform: translateY(-50px);
    transition: 1s;
}
.user-login {
    opacity: 1;
    display: block;
    transition: 0.5s;
}
.login-form,
.user-create {
    opacity: 0;
    display: none;
    transition: 0.5s;
}
.content {
    opacity: 0;
    visibility: hidden;
    transform: translateY(100px);
    transition: 1s;
}
.loadOut {
    position: absolute;
    top: 20%;
    left: 50%;
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 0px;
    width: 16px;
    height: 16px;
    border-radius: 15%;
    background: #000;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}
