:root {
    --bgColorMain: #7c7c7c;
    --bgColorContent: #2c2c2c;
    --bgColorButtons: #4c4c4c;
    --textColor: white;
    /*  More variables even for just black/white text colors so I can get more global control */
}
body {
    background-color: var(--bgColorMain);
}
.main {
    background-color: var(--bgColorContent);
    color: var(--textColor);
    border-radius: 0.25rem;
    margin-top: 2rem;
}
.login-form {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 1000;
    position: absolute;
    background-color: rgba(0, 0, 0, 50%);
}
.login-form > .main {
    margin: auto;
    top: 25%;
}
.toggleableText {
    display: none;
}
input {
    color: black !important;
}
#linkList > .dropdown {
    padding-bottom: 0.25rem;
}
#content > *:first-child {
    z-index: 100;
}
.ck-editor__editable {
    background-color: White;
    color: black;
}
.btn-custom {
    background-color: var(--bgColorButtons);
    color: var(--textColor) !important;
}
.btn-custom:hover {
    background-color: #5c5c5c;
    color: var(--textColor);
}
.btn-custom:disabled {
    cursor: not-allowed;
}
.btn-custom:disabled:hover {
    background-color: var(--bgColorButtons);
}
.navbar-dark {
    background-color: var(--bgColorContent);
    color: var(--textColor);
    border-radius: 0 0 0.25rem 0.25rem;
    z-index: 200;
}
.nav-link,
.nav-link:hover,
.nav-link.active {
    color: var(--textColor) !important;
    border-radius: 0;
}
.nav-link:hover,
.nav-link.active {
    background-color: var(--bgColorButtons) !important;
    border-color: var(--bgColorButtons) !important;
    border-bottom-color: white !important;
}
.nav-item:first-child > .nav-link {
    border-top-left-radius: 0.25rem;
}
.btn-nav {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}
.trash {
    min-width: 40px;
    max-width: 40px;
    min-height: 40px;
    max-height: 40px;
}
.square {
    border-radius: 0;
}
.square-l {
    border-radius: 0 0 0 0.25rem;
}
.square-r {
    border-radius: 0 0 0.25rem 0;
}
.dropdown-menu:last-child {
    overflow-y: scroll;
    max-height: 40vh;
}
#container {
    opacity: 0;
    transition: all 250ms;
}
#text > p,
#text > h4 {
    width: 100%;
    text-align: center;
}

span > p {
    margin: 0 0.25rem 0 1rem;
    line-height: 2rem;
}
span.justify-content-start > p {
    width: 6rem;
}
span > input[type="number"] {
    max-width: 2rem;
    border: none;
    background: transparent;
    color: white !important;
}
a[data-disabled="true"] {
    pointer-events: none;
}
.container > * {
    padding: 0;
}
.row > .row {
    padding: 0;
}
.btn-group > .btn {
    z-index: 1;
    padding: 0;
    min-width: 2rem;
    max-width: 2rem;
    min-height: 2rem;
    max-height: 2rem;
}
.btn:active,
.btn:focus,
.btn:hover {
    box-shadow: 0 0 0 0 !important;
    border-color: transparent !important;
}
.btn-danger:active,
.btn-danger:focus {
    background-color: #dc3545;
}
.btn-primary:active,
.btn-primary:focus {
    background-color: #007bff;
}
.no-spinners {
    -moz-appearance: textfield;
    pointer-events: none;
}
.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
